.card {
  border-radius: 5px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.16));
  background: #1c1f27;
  padding: 20px;

  &__large {
    max-width: 814px;

    @media only screen and (min-width: 814px) {
      width: 814px;
    }
  }

  &__medium {
    max-width: 500px;

    @media only screen and (min-width: 500px) {
     width: 500px;
   }
  }

  &__small{
   max-width: 375px;

   @media only screen and (min-width: 375px) {
    width: 375px;
  }
 }
}
