@import '../../../styles/global-colors.scss';

.button {
  background: none;
  border: none;
  height: 46px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hind', sans-serif;
  color: $white;
}

.button--primary {
 background-color: $primary-color;
}

.button--secondary {
 background-color: $secondary-color;
}

.button--block {
 width: 100%;
}

.button--small {
 font-size: 14px;
 height: 10px 16px;
}
.button--medium {
 font-size: 16px;
 padding: 11px 20px;
}
.button--large {
 font-size: 18px;
 padding: 12px 24px;
}
